name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - 10_infra/**
      - .github/workflows/**
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: 1.2.8
  TF_PROJECT: udemy-gha
  TF_ENVIRONMENT: dev

defaults:
  run:
    shell: bash
    working-directory: "10_infra/"

jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    steps:
      - name: Cehckout repository
        uses: actions/checkout@v3
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: Terraform format
        run: terraform fmt -check
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ap-northeast-1
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN }}
      - name: Terraform init
        run: terraform init -no-color
      - name: Terraform validate
        run: terraform validate -no-color
      - name: Terraform plan
        run: terraform plan \
          -var 'project=${{ env.TF_PROJECT }}' \
          -var 'environment=${{ env.TF_ENVIRONMENT }}' \
          -var 'username=${{ secrtes.MYSQL_USERNAME }}' \
          -var 'password=${{ secrtes.MYSQL_PASSWORD }}' \
          -input=false \
          -no-color \
          -detailed-exitcode
